@font-face {
    font-family: Input;
    src: url("../fonts/Tsukimi_Rounded/TsukimiRounded-Bold.ttf");
}
*{
    margin: 0;
}
body{
    /* background-color: #FF9AA2; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
/*=================================Pantalla 1=======================================*/
#spanTitulo{
    font-family: Input;
    font-size: 4rem;
    /* margin-bottom: 2rem; */
        /* text-align: center; */
        animation: pulse;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
}
/*Contenedor de los inputs*/
#divContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: 200px;
    background-color: rgba(99, 111, 247, 0.287);
    border-radius: 38% 62% 31% 69% / 57% 34% 66% 43%                    ;
    margin: 3rem;
}
#divContainer>input{
    width: 20vw;
    height: 4rem;
    border-radius: 2rem;
    border: transparent solid 1px;    
    background-color: #e6ffb3;
    font-family: Input;
    font-size: 1.5rem;
    text-align: center;
}
#divContainer>input:focus{
    transition: transform .3s linear, background-color .3s linear;
    transform: scale(1.1);
    background-color: #d0f683;
}
#btnInicio{
    width: 12vw;
    height: 2rem;
    border-radius: 2rem;
    border: transparent solid 1px;
    background-color: #B5EAD7;
    font-family: Input;
    font-size: 1rem;
    text-align: center;
}
#btnInicio:hover{
    transition: background-color .2s linear, transform .2s linear;
    background-color: #71ceac;
    transform: scale(1.2);
}

/*==========================Pantalla Ruleta=============================================*/
#imgRuleta{
    width: 450px;
    height: 450px;
}
#imgFlecha {
    width: 25px;
    height: 37px;
}
#spanTurno{
    font-family: Input;
    font-size: 3.5rem;
}
#btnSend{
    margin-top: 10px;;
    width: 8vw;
    height: 3rem;
    border-radius: 2rem;
    border: transparent solid 1px;
    background-color: #d0f683;
    font-family: Input;
    font-size: 1.7rem;
    text-align: center;
}
#btnSend:hover {
    transition: transform .3s linear, background-color .3s linear;
    transform: scale(1.2);
    background-color: #d0f683;
}

#contPlayers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    width: 60vw;
    height: 70px;
    /* background-color: red; */
}
#contPlayers>span{
    padding: 1rem;
    background-color: #FFB7B2;
    font-family: Input;
    font-size: 1.5rem;
    text-align: center;
}
#contPlayers>span:first-child{
    border-radius: 76% 24% 74% 26% / 26% 57% 43% 74%;
}
#contPlayers>span:last-child {
    border-radius: 32% 68% 25% 75% / 69% 37% 63% 31%;
}
/*==========================Pantalla Pregunta=============================================*/
#divMateria{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.229);
}
#divMateria>span{
    font-family: Input;
    font-size: 3rem;
    text-align: center;
}
#img1{
    width: 5rem;
}
#img2 {
    width: 5rem;
}

#spanPregunta{
    font-family: Input;
    font-size: 1.5rem;
    text-align: center;
    background-color: #00cc003e;
}
#contRespuestas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    height: 300px;
    background-color: rgba(255, 0, 0, 0.365);
}
.respuesta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 2.5rem;
    background-color: #f4f4f4;
    border-radius: 4rem;
    color: #000;
}
.respuesta:hover{
    transition: transform .2s linear;
    transform: scale(1.2);
}
.respuesta>span{
    font-family: Input;
    font-size: 1rem;
    text-align: center;
}
/*==========================Pantalla Pregunta=============================================*/

#correcto{
    color: #00cc00;
    background-color: #83ee8374;
    border-radius: 47% 53% 41% 59% / 69% 37% 63% 31%;
    padding: 3rem;
    /* color: #cc0000; */
    font-family: Input;
    font-size: 5rem;
    text-align: center;

}

#incorrecto{
    background-color: rgba(193, 25, 25, 0.29);
    border-radius: 47% 53% 41% 59% / 69% 37% 63% 31%;
    padding: 3rem;
    color: #cc0000;
    font-family: Input;
    font-size: 5rem;
    text-align: center;
}

#imgCorrect{
    width: 200px;
    height: 200px;
}

#ganarDiv{
    padding: 2rem;
    background-color: #9BF6FF;
    border-radius: 42% 58% 52% 48% / 42% 32% 68% 58%;

    font-family: Input;
    font-size: 3rem;
    text-align: center;
}